<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FoodMapper" >
  <resultMap id="BaseResultMap" type="model.Food" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="DESCR" property="descr" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.Food" >
    insert into food (ID, TITLE, PRICE, 
      IMG, DESCR, TYPE)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{img,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="model.Food" >
    update food
    set TITLE = #{title,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      IMG = #{img,jdbcType=VARCHAR},
      DESCR = #{descr,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, TITLE, PRICE, IMG, DESCR, TYPE
    from food
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, TITLE, PRICE, IMG, DESCR, TYPE
    from food
  </select>
</mapper>